div{
    position: fixed;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    padding: 5px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    bottom: 0;
}

.menu-item{
    width: 50px;
    height: 50px;
border: 1px solid red;
text-align: center;
line-height: 50px;
box-sizing: border-box;
 
}
.icon-facebook{
zoom: 500%;
color: red;
position: fixed;
}
body{
    height: 5000px;
    
}


