.fixed{
    background-color: cornsilk;
    border: 3px solid;
    display: flex;
    justify-content:space-evenly;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    padding-bottom: 30px;
    padding: auto;

 }
 .icon1{
    zoom: 300%;
 }
 a {
    color: inherit;
 }
 .icondes{
    position: relative;
    top: 40px;
    right: 150px;
 }
